* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Moneserrat", sans-serif;
    color: #222222;
}

/******************* Menu *****************/

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    padding-top:10px;
    padding-bottom: 15px;
    height: 70px;
    padding-right: 25px;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    box-shadow: 1px 3px #52ced6;
   
}
.menu ul li {
    display: inline-block;
    padding: 0px 28px;
}
.menu ul li a:hover {
    border-bottom: 4px solid #52ced6;
}
.menu .menux {
    text-decoration-line: none;
    color: #222222;
    font-weight: bold;
}
.allMenu li a img {
    width: 35px;
}
.gif-D {
   width: 83px;
   position: fixed;
   z-index: 3;
   left: 80px;
  
}
.burguer{
    display: none;
}

/****************** HOME *****************/

.main {
    padding-top: 130px;
    width: 100%;
}

.block2 h1 {
    font-size: 70px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 20px;
}
.text__1 {
    font-size: 22px;
    font-weight: 500;
    color: #222222;
    margin-right: 150px;
    margin-bottom: 20px;
}
.container1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.block2{
    padding-left: 60px;
}
.blockA Article .profilePhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-left: 150px;
    
   
}
.profilePhoto img{
    
    width: 75%;
    position: absolute;
    padding-top: 125px;
  
    
}

.redContact {
    display: flex;
    padding-left: 2px;
    
}

.redContact > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid;
    border-color: #52ced6;
}
.redContact div img {
    width: 35px;
}
.contactme1 {
    display: flex;
    width: 300px;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20px;
    border: solid;
    border-color: #52ced6;
}
.sobreEmail img {
    width: 110px;
    padding-right: 40px;
    padding-top: 5px;
}


/********************** My Abilities *****************/

.myAbilities {
    margin-top: 80px;
    text-align: center;
}

.icon {
    width: 25px;
}

.textInfo2{
    padding-bottom: 50px;
}

.containerTable {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 60px;
    position: relative;
}

.containerTable div {
    border: 3px solid #52ced6;
    width: 240px;
    height: 240px;
    padding: 10px;
    overflow: auto;
}
.article1 {
    padding-top: 30px;
}
.efect{
    transition: ease-out 0.8s;
}
.efect:hover {
    transform: translateY(-50px);
    box-shadow: 0 15px 30px #52ced6;
    transition: ease-out 0.8s;
}

.containerTable div::-webkit-scrollbar{
    width: 1px;
}



/*******************experience*****************/
.container4 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100;
}
.experience {
    padding-top: 100px;
}

.article2 {
    padding-top: 130px;
}
.containerTable2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
}
.article2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.article2A {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.article2B {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.article2 div {
    padding: 10px 0px ;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article2A div {
    padding: 40px 0px ;
}
.article2B div {
    padding: 70px 0px ;
}
.post1{
    position: relative;
   z-index: 1;
  bottom: 10px;
}
.post2{
   position: relative;
   z-index: 1;
  bottom: 30px;
    
}
.post3{
    position: relative;
    z-index: 1;
   bottom: 30px;
     
 }
.iconosExperience {
    width: 200px;
}




/*****************briefcase***************/

.container5 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
.fullCard {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 80px;
    padding-top: 80px;
    grid-column: auto auto;
}

.image {
    -webkit-perspective: 800;
    perspective: 800;
}
.card {
    width: 400px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.9s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    /*-webkit-box-shadow: 0 15px 30px#52ced6;
    -moz-box-shadow: 0 15px 30px #52ced6;
    box-shadow: 0 15px 30px #52ced6;*/
}
.card::before{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: conic-gradient(#52ced6 20deg,transparent 80deg);
    animation: rotar 1s linear infinite;
}



.cardA {
    width: 400px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.9s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    /*-webkit-box-shadow: 0 15px 30px#52ced6;
    -moz-box-shadow: 0 15px 30px #52ced6;
    box-shadow: 0 15px 30px #52ced6;*/
}
.cardA::before{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: conic-gradient(#52ced6 20deg,transparent 80deg);
    animation: rotarA 1s linear infinite;
    border-radius: 10px;
}

@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
 @keyframes rotarA {
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(0deg);
    }
}


/*.front,
.back {
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}
.image:hover .card {
    transform: rotateY(180deg);
}*/
.front{
    width: 385px;
    height: 235px;
    border-radius: 10px;
    z-index: 1;
}
.back{
    width: 385px;
    height: 235px;
    border-radius: 10px;
    z-index: 1;
}
/******************contact*****************/

.container6 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
}

.containerContact {
    display: flex;
    justify-content: center;
    gap: 0px 250px;
    padding-top: 100px;
}
.contact1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 140px;
    background-color: #92eeef3e;
    border-radius: 50px;
}

.phone {
    display: block;
    text-align: center;
    margin: 20px;
}
.phone p {
    font-weight: 400;
    padding-top: 15px;
}
.phone h5 {
    padding-top: 15px;
    font-weight: 400;
    opacity: 0.5;
}
.iconPhone {
    width: 70px;
}

/******************footer***************/
.allFooter {
    display: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    margin: 50px;
}
.allFooter img {
    width: 40px;
}
.textColor {
    color: #52ced6;
}
.nav-toggle img {
    /* color: #52ced6;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    ;*/
    width: 45px;
    opacity: 0.8;
    cursor: pointer;
    display: none;
}
.menu .nav-toggle img:hover {
    transform: rotateY(180deg);
}

/******************TABLE***************/

@media (max-width: 992px) {
.diagonals{
    right: 90px;
}
.iconosExperience {
    width: 150px;
}
.iconosExperience1 {
    width: 350px;
}
.containerTable {
    overflow-x: scroll;
    justify-content: flex-start;
    margin: 0 60px;
}
.containerTable::-webkit-scrollbar {
    background: #60cad235;
    height: 12px;
}
.containerTable::-webkit-scrollbar-thumb {
    background: #52ced6;    
    border-radius: 30px;
}

.efect {
    min-width: 270px;
    margin-bottom: 20px;
}
.containerTable2 {
    display: block;
}
.fullCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}



/******************smartPhone***************/

@media (max-width: 768px) {
.allMenu{
    display: none;
}
.menu{
    width: 100%;
}
.block1{
    width: 100%;
}
.blockA{
    padding-right: 30%;
}
.burguer{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: 50px;
    right: 20px;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.block2{
   padding-top: 200px;
   
} 
.iconosExperience {
    width: 100%;
    
}
.iconosExperience1 {
    width: 100%;
    
}
.containerTable2{
    display: flex;
    flex-direction: column;
}
.containerContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px
    
}

.containerTable {
    overflow-x: scroll;
    justify-content: flex-start;
    margin: 0 60px;
}
.containerTable::-webkit-scrollbar {
    background: #60cad235;
    height: 12px;
}
.containerTable::-webkit-scrollbar-thumb {
    background: #52ced6;    
    border-radius: 30px;
}

.efect {
    min-width: 270px;
    margin-bottom: 20px;
}
.containerTable2 {
    display: block;
}
.fullCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.blockA Article .profilePhoto{
    margin-top: 190px;
}
.profilePhoto img{ 
    width: 120%;
    margin-bottom: 190px;
}


.block2 .nameProfile{
    font-size: 55px;
}
.poke{
    width: 60%;
}
.rick{
    width: 100%;
}
}
